@page
@model CoreFirst.Pages.Facts

@{
    ViewData["Title"] = "Facts";
}

<table>
    <thead>
        <tr>
            <th>Status</th>
            <th>User</th>
            <th>Text</th>
            <th>Source</th>
            <th>Type</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.CatsResponse.results)
    {
        <tr>
            <td>@item.user</td>
            <td>@item.text</td>
            <td>@item.source</td>
            <td>@item.type</td>
            <td>@item.createdAt</td>
        </tr>
    }
    </tbody>
</table>
