@model Car

<a href="#">
<div class="card" style="width: 18rem;">
  <img src="@Model.ImgUrl" class="card-img-top" alt="@Model.Model">
  <div class="card-body">
    <h4 class="card-title">@Model.Make</h4>
    <h6 class="card-description">@Model.Model</h6>
    <p class="card-text">@Model.Price</p>
  </div>
</div>
</a>

